.box{
    width: 200px;
    height: 200px;
    background-color: pink;
    animation: animation 3s ;
}
.container{
 display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes animation {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(45deg);
    }
}

button{
    width: 45px;
    margin: 22px;
    background-color: white;
    border-radius: 15px;
    border-color: blueviolet;
    color: blueviolet;
}
.BTN{
    margin: 30px;
}