.box {
    width: 200px;
    height: 200px;
    background-color: pink; 
  
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.box:hover{
background-color: indigo;

}