.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: rgb(14, 14, 160);
    animation: pulse 4s 3;
}

@keyframes pulse {
    0% {
		transform: scale(1);
		
	}

	50% {
		transform: scale(2);
		
	}

	100% {
		transform: scale(1);
		
	}
}

button{
    width: 45px;
    margin: 22px;
    background-color: white;
    border-radius: 15px;
    border-color: blueviolet;
    color: blueviolet;
}
.BTN{
    margin: 100px;
}